.grid-container {
    display: flex; /*enable flex layout*/
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 1px solid black;
    width: 960px;
    height: 960px;
}

.grid-item { /*style each square div and set size*/
    display: flex;
    box-sizing: border-box;
    border: 1px solid black;
}

